*{
 margin:0;
 padding:0;
 box-sizing:border-box; 
}

:root{
  font-size:62.5%;

  --almost-white-color: hsl(0, 0%, 98%);
  --medium-gray-color: hsl(0, 0%, 41%);
  --almost-black-color: hsl(0, 0%, 8%);

}

a{
  text-decoration: none;
  color:grey;
}

a:hover{
  color:rgb(0, 0, 0);
}

body{
  margin:2rem 1rem;
}

body,button{
  font-family:'Epilogue', sans-serif;
  background-color:var(--almost-white-color);
}

header,button,p{
  color:var(--medium-gray-color);
}

@media(max-width:560px){
  body{
    margin:0;
  }
}

