header,
.header-nav,
.header-nav > ul,
.user-log{
  display:flex;
  align-items:center;
  font-size:1.3rem;
}

header{
  max-width:1440px;
  height:4.5rem;

  margin:auto;
}

header .logo{
  margin-right:clamp(1rem, 2.5vw, 4.5rem);
}

.header-nav{
  width:1300px;
  justify-content:space-between;
  gap:1rem;
}
.header-nav > ul,
.user-log{
  gap:clamp(0.5rem, 2.8vw, 4rem);
}

.header-nav ul{
  list-style:none;
  white-space: nowrap;
}

.feature-arrow button,
.menu-feat button,
.company-arrow button{
  cursor:pointer;

  border:none;
  background:transparent;
}
.header-nav ul li:hover{
  cursor:pointer;
  color:var(--almost-black-color);
}
.header-nav ul li:nth-child(1){
  position:relative;
}

.header-nav .feat-navigation{
  position:absolute;
  left:-6.5rem;
  top:2.5rem;
  z-index:1;

  background:#FFFFFF;
  padding:2.4rem 2.5rem;

  border-radius:1rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.199);

  animation: drop-down 0.7s;
  
}
.header-nav .feat-navigation ul{
  display:grid;

  align-items:center;

  gap:1.2rem;
}
.header-nav .feat-navigation ul li{
  display:flex;

  align-items:center;
}
.header-nav .feat-navigation ul img{
  margin-right:1rem;
  width:12px;
}

.header-nav .feat-navigation[open]{
  display:block;
  animation: drop-down 0.7s;
}
.header-nav .feat-navigation[close]{
  animation: drop-down-reverse 0.7s;
  display: none;
}

.header-nav ul li:nth-child(2){
  position:relative;
}

.header-nav .comp-navigation{
  position:absolute;
  top:2.5rem;
  animation: drop-down 0.7s;
}
.header-nav .comp-navigation ul{
  display:grid;
  gap:1.2rem;

  background:#FFFFFF;
  padding:2.4rem 2.5rem;
 
  border-radius:1rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.199);
}


.header-nav ul svg{
  margin-left:2px;
}

.user-log button:nth-child(1){
  border:none;
}
.user-log button:nth-child(2){
  padding:1rem 1.8rem;
  
  border-radius:1.3rem;
  border:1px solid var(--medium-gray-color);
}
.user-log button:hover{
  cursor:pointer;
  color:var(--almost-black-color);
}
.user-log button:nth-child(2):hover{
  border:1px solid var(--almost-black-color);
}

.hide{
  display: none;
}

@media(max-width:560px){
  .header-nav,
  .header-nav > ul{
    align-items:baseline;
}
  
  header{
    position: relative;
  }
  header .logo{
    margin:2rem 0 0 2rem;
  }
  header .menu-img{
    position: absolute;
    right: 2rem;

    display: block;
  }
  .header-nav{
    display: none;
  } 

  .menu{
    position: fixed;
  
    top: 0;
    bottom: 0;
    left: 190px;
    right: 0;
    z-index: 1;
  
    background:#FFFFFF;
    box-shadow: -200px 3px 53px 92px rgba(0,0,0,0.51);
  
    animation: right-navigation 0.8s;
  }
  .menu #close{
    position: absolute;
  
    top: 1rem;
    right: 1rem;
  }
  .header-nav{
    position:relative;
    z-index: 5;
  
    margin:3rem 0 0 2rem;
    align-items:baseline;
  
  }
  .header-nav ul{ 
    position:relative;
    
    margin:0 0 0 2rem;
  
    list-style:none;
  
    display:flex;
    flex-direction:column;
  

    font-size:1.6rem;
    white-space: nowrap;
  }
  .header-nav > ul{ 
    gap:2rem;
  }
  .header-nav > ul li:last-child{ 
    margin-bottom:3rem;
  }
  
  .header-nav ul li{
    margin-top:0rem;
  }
  
  .header-nav .feat-navigation,
  .header-nav .comp-navigation{
    background:rgba(255, 255, 255, 0);
  }
  .header-nav .comp-navigation ul{
    background:#ffffff00;
    padding:0px;

    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  }
  .header-nav .feat-navigation ul li,
  .header-nav .comp-navigation ul li{
    width:10rem;
  
    display:flex;
    align-items:center;
  }
  .header-nav .feat-navigation ul li img,
  .header-nav .comp-navigation ul li img{
    width:17px;
    height:18px;
  }
  .header-nav .feat-navigation ul li p,
  .header-nav .comp-navigation ul li p{
    width:60px;
    font-size:1.6rem;
  }
  .header-nav ul .feat-navigation,
  .header-nav ul .comp-navigation{
    position:static;
    left:0rem;
    top:0rem;
  
    padding:0;
  
    border-radius:0;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  
    animation: drop-down 0.7s;
    
  }
  .header-nav .feat-navigation ul li,
  .header-nav .comp-navigation ul li{
    margin-top:1rem;
  }
  .header-nav .feat-navigation ul li:last-child,
  .header-nav .comp-navigation ul li:last-child{
    margin-bottom:1rem;
  }
  
  .header-nav .user-log{
    display:flex;
    flex-direction:column;
  }
  
  .header-nav .user-log button:nth-child(2){
    width:180px;
  }
  

}

@keyframes drop-down {
  0%{
    opacity: 0;
    transform: translateY(-10rem);
  }
  100%{
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes drop-down-reverse {
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity:0;
    transform: translateY(-10rem);
  }
}

@keyframes right-navigation{
  0%{
    opacity: 0;
    transform: translateX(10rem);
  }
  100%{
    opacity:1;
    transform: translateY(0);
  }
}