main{
  max-width:1200px;
  display:flex;

  justify-content: space-between;
  align-items:center;
  gap:2rem;

  margin:5rem auto;

}
section{
  position:relative;
  max-width:60rem;
  
  display:grid;
  gap:5rem;
}
h1{
  font-size:clamp(3.0rem, 8vw, 8rem);
}
p{
  max-width:45rem;
  font-size:clamp(1.2rem, 1.5vw,1.8rem);
  line-height:2.5rem;
}
main button{
  width:16rem;

  font-size:1.7rem;
  background:#000000;
  color:var(--almost-white-color);

  padding:1.5rem 2rem; 
  border-radius:1.2rem;
  transition: color 0.5s;
}
main button:hover{
  cursor:pointer;

  background:var(--almost-white-color);
  color:var(--almost-black-color);

  transition: color 0.5s;
}

.nav-footer{
  position:absolute;

  bottom:-13rem;
  left:0;

  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:2rem;
}

aside{
  max-width:50rem;
}
aside img{
  width:100%;
}

@media(max-width:560px){
  main{
    flex-direction: column-reverse;
    text-align:center;
  }
  section {
    gap:2rem;
  }
  section button{
    margin:0 auto 3rem;
  }
  p{
    margin:auto;
    max-width:31rem;
  }
  .nav-footer{
    position: static;
  }
  .nav-footer img{
    width:clamp(5rem, 30vw ,6rem);
  }
  aside{
    margin-bottom:2rem;
  }
}