.menu{
  position: fixed;

  top: 0;
  bottom: 0;
  left: 190px;
  right: 0;
  z-index: 1;

  background:rgb(255, 255, 255);
  box-shadow: -200px 3px 53px 92px rgba(0,0,0,0.51);

  animation: right-navigation 0.8s;
}
.menu #close{
  position: absolute;

  top: 1rem;
  right: 1rem;
}
.submenu{
  position:relative;
  z-index: 5;

  margin:3rem 0 0 2rem;

}
.submenu ul{ 
  position:relative;
  
  margin:0 0 0 2rem;

  list-style:none;

  display:flex;
  flex-direction:column;


  font-size:1.6rem;
  white-space: nowrap;
}
.submenu > ul{ 
  gap:2rem;
}
.submenu > ul li:last-child{ 
  margin-bottom:3rem;
}

.submenu ul li{
  margin-top:0rem;
}
.submenu .feat-navigation ul li,
.submenu .comp-navigation ul li{
  width:10rem;

  display:flex;
  align-items:center;
}
.submenu .feat-navigation ul li img,
.submenu .comp-navigation ul li img{
  width:17px;
  height:18px;
}
.submenu .feat-navigation ul li p,
.submenu .comp-navigation ul li p{
  width:60px;
  font-size:1.6rem;
}
.submenu ul .feat-navigation{
  position:static;
  left:0rem;
  top:0rem;

  padding:0;
  

  border-radius:0;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

  animation: drop-down 0.7s;
  
}
.submenu .feat-navigation ul li,
.submenu .comp-navigation ul li{
  margin-top:1rem;
}
.submenu .feat-navigation ul li:last-child,
.submenu .comp-navigation ul li:last-child{
  margin-bottom:1rem;
}

.submenu .user-log{
  display:flex;
  flex-direction:column;
}

.submenu .user-log button:nth-child(2){
  width:180px;
}
